#peer-review {
	max-width: 370px;
	max-height: 370px;
	background-color: #FFFFFF;
	margin: 15px;
	padding: 15px;
	border: 2px solid black;
}

#star {
	height: 50%;
	width: 50%;
}

.bm-burger-button {
	max-height: 30px;
	max-width: 30px;
	position: relative;
}

.bm-cross-button {
	max-height: 50px;
	max-width: 50px;
	position: relative;
}

.bm-menu {
  background: #FFFFFF;
  padding: 10px;
  font-size: 1.15em;
}